<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描表现层，com.store.controller包，@Component @Controller@Service等这些注解的类，则把这些类注册为bean -->
	<context:component-scan base-package="com.store.portal.controller" />
	<!-- 注解驱动 ，如用于数据绑定-->
	<!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射，及解决HandlerAdapter与HandlerMapping需一致性问题 -->
	<!-- 启动SpringMvc的注解，数据校验 -->
	<!-- 写法2： <mvc:annotation-driven validator="validator" /> -->
	<mvc:annotation-driven />
	<!-- 配置识图解析器 -->
	<!-- 对模型视图名称的解析，在请求时模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	


</beans>